<%-include("header")%>

    <div class="body__overlay"></div>
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Search Popap -->
        <div class="search__area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search__inner">
                            <form action="/search" method="get">
                                <input name="key" placeholder="Tìm kiếm... " type="text">
                                <button type="submit"></button>
                            </form>
                            <div class="search__close__btn">
                                <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Popap -->
        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="/site/images/product-2/sm-smg/1.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$105.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="/site/images/product-2/sm-smg/2.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">Brone Candle</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$25.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">$130.00</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="cart.html">View Cart</a></li>
                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
    <!-- End Offset Wrapper -->
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area"
        style="background: rgba(0, 0, 0, 0) url(/site/images/bg/4.jpg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner">
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="/">Trang chủ</a>
                                <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                <span class="breadcrumb-item active">Danh sách sản phẩm</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Product Grid -->
    <section class="htc__product__grid bg__white ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                    <div class="htc__product__rightidebar">
                        <h1 class="title__line--4" id="title_name"></h1>
                        <div class="htc__grid__top">
                            <div class="htc__select__option">
                                <select class="ht__select">
                                    <option>Mặc định</option>
                                    <option>Lọc theo giá</option>
                                    <option>Lọc theo ngày nhập</option>
                                    <option>Lọc theo lượt xem</option>
                                </select>
                            </div>
                            <div class="ht__pro__qun">
                                <span>Gồm <b class="numProduct bold"></b> sản phẩm</span>
                            </div>
                            <!-- Start List And Grid View -->
                            <ul class="view__mode" role="tablist">
                                <li role="presentation" class="grid-view active"><a href="#grid-view" role="tab"
                                        data-toggle="tab"><i class="zmdi zmdi-grid"></i></a>
                                </li>
                                <li role="presentation" class="list-view"><a href="#list-view" role="tab"
                                        data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                            </ul>
                            <!-- End List And Grid View -->
                        </div>
                        <!-- Start Product View -->
                        <div class="row">
                            <div class="shop__grid__view__wrap">
                                <div role="tabpanel" id="productALL"
                                    class="single-grid-view productALL tab-pane fade in active clearfix">
                                    <!-- Start Single Product -->
                                    <!-- End Single Product -->
                                </div>
                            </div>
                        </div>
                        <!-- End Product View -->
                    </div>
                    <!-- Start Pagenation -->
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="htc__pagenation">
                                <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <!-- <li><a href="#">3</a></li> -->
                                <!-- <li><a href="#">19</a></li> -->
                                <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Pagenation -->
                </div>
                <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-12 col-xs-12 smt-40 xmt-40">
                    <div class="htc__product__leftsidebar">
                        <!-- Start Prize Range -->
                        <div class="htc-grid-range">
                            <h4 class="title__line--4">Giá</h4>
                            <div class="content-shopby">
                                <div class="price_filter s-filter clear">
                                    <form action="#" method="GET">
                                        <div id="slider-range"></div>
                                        <div class="slider__range--output">
                                            <div class="price__output--wrap">
                                                <div class="price--output">
                                                    <span>Giá :</span><input type="text" id="amount" readonly>
                                                </div>
                                                <div class="price--filter">
                                                    <a href="#">Lọc</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Prize Range -->
                        <!-- Start Category Area -->
                        <div class="htc__category">
                            <h4 class="title__line--4">Danh mục</h4>
                            <ul class="ht__cat__list" id="listMenuDanhMuc">

                            </ul>
                        </div>
                        <!-- End Category Area -->
                        <!-- Start Best Sell Area -->
                        <div class="htc__recent__product">
                            <h2 class="title__line--4">Quan tâm nhất</h2>
                            <div class="htc__recent__product__inner productBanChay" id="productBanChay">
                                <!-- Start Single Product -->

                                <!-- End Single Product -->
                            </div>
                        </div>
                        <!-- End Best Sell Area -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Grid -->
    <!-- Start Brand Area -->
    <div class="htc__brand__area bg__cat--4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ht__brand__inner">
                        <ul class="brand__list owl-carousel clearfix">
                            <li><a href="#"><img src="/site/images/brand/1.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/2.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/3.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/4.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/5.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/5.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/1.png" alt="brand images"></a></li>
                            <li><a href="#"><img src="/site/images/brand/2.png" alt="brand images"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->
    <!-- Start Banner Area -->
    <div class="htc__banner__area">
        <ul class="banner__list owl-carousel owl-theme clearfix">
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/1.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/2.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/3.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/4.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/5.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/6.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/1.jpg" alt="banner images"></a></li>
            <li><a href="product-details.html"><img src="/site/images/banner/bn-3/2.jpg" alt="banner images"></a></li>
        </ul>
    </div>
    <!-- End Banner Area -->
    <%-include("footer")%>
        <script>
            function getProductBanChay() {
                var urlLimit = "http://localhost:3000/productAPI/listViewLimit5";
                fetch(urlLimit).then(product => product.json())
                    .then(products => {
                        spChay = products.map(product => {
                            return (`<div class="htc__best__product">
                                        <div class="htc__best__pro__thumb">
                                            <a href="/sanpham/${product.product_id}">
                                                <img src="${product.thumbnail}" alt="small product">
                                            </a>
                                        </div>
                                        <div class="htc__best__product__details">
                                            <h2><a href="/sanpham/${product.product_id}">
                                                ${product.product_name}
                                                </a></h2>
                                            <ul class="pro__prize">
                                                <li>
                                                    ${String(product.price).replace(/(.)(?=(\d{3})+$)/g, '$1,')} VNĐ
                                                </li>
                                            </ul>
                                        </div>
                                    </div>`);
                        })
                        document.querySelector("#productBanChay").innerHTML = spChay.join("");
                    });
            }
            getProductBanChay()


            let params = new URLSearchParams(location.search);
            var key = params.get("key");
            console.log("search:" + encodeURI(key))
            console.log(`http://localhost:3000/productAPI/search/${encodeURI(key)}`)
            function getProductSearch() {
                var urlList = `http://localhost:3000/productAPI/search/${key}`;
                fetch(urlList).then(data => data.json())
                    .then(products => {
                        proAll = products.map(data => {
                            return (`<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                        <div class="category" >
                                            <div class="ht__cat__thumb">
                                                <a href="../sanpham/${data.product_id}">
                                                    <img src="${data.thumbnail}" alt="product images">
                                                </a>
                                            </div>
                                            <div class="fr__hover__info">
                                                <ul class="product__action">
                                                    <li><a href="wishlist.html"><i class="icon-heart icons"></i></a>
                                                    </li>

                                                    <li><a href="cart.html"><i class="icon-handbag icons"></i></a>
                                                    </li>

                                                    <li><a href="#"><i class="icon-shuffle icons"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="fr__product__inner">
                                                <h4><a href="../sanpham/${data.product_id}">
                                                    ${data.product_name}
                                                    </a></h4>
                                                <ul class="fr__pro__prize">
                                                    <li>
                                                        ${String(data.price).replace(/(.)(?=(\d{3})+$)/g, '$1,')}
                                                            VNĐ
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>`);
                        })
                        document.querySelector(".numProduct").innerHTML = proAll.length;
                        document.querySelector("#productALL").innerHTML = proAll.join("");
                    });
            }
            getProductSearch()


            // <!-- Lấy ra menu cate -->
            function listMenuDanhMuc() {
                var urlList = "http://localhost:3000/categoryAPI/list";
                fetch(urlList).then(data => data.json())
                    .then(products => {
                        proAll = products.map(data => {
                            return (`<li><a href="/danhmuc/${data.category_id}">${data.category_name}</a></li>`);
                        })
                        document.querySelector("#listMenuDanhMuc").innerHTML = proAll.join("");
                    });
            }
            listMenuDanhMuc()

            function getNameTitle() {
                var urlList = `http://localhost:3000/categoryAPI/listCateName/${id}`;
                fetch(urlList).then(data => data.json())
                    .then(products => {
                        console.log(products)
                        proAll = products.map(data => {
                            document.getElementById("title_name").innerHTML = data.category_name;
                        })
                    });
            }

        </script>